body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #202020;
    padding: 10px 20px;
    text-align: left;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 2%;
    margin-bottom: 3%;
}

nav ul li button {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #333;
    border: 2px solid #202020;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 1.3vw;
}

nav ul li button:hover {
    background-color: #ddd;
    border-color: #fff;
    color: #000;
}

.single-line-header {
    padding: 2%;
    font-size: 3vw;
}

.logo_empty {
    width: 70%;
}

.header {
    margin: 0 auto;
    width: 90%;
    align-items: left;
}

.copyright {
    margin-top: 3%;
    margin-bottom: 2%;
    color: #ffffff;
}

.table-container {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    height: auto;
}

.a_logo {
    text-align: left;
}

.link {
    font-size: 2vw;
    color: #ffffff;
    transition: color 0.3s ease;
}

.link:hover {
    color: #919191;
}

.main-button {
    background-color: #202020;
    border-color: #ddd;
}

.index-text {
    font-size: 2vw;
    color: #ffffff;
    text-align: left;
}

hr {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 92%;
}

.text {
    color: #ffffff;
}